.feed {
  display: flex;
  flex-direction: column;
  text-align: left;
  scroll-behavior: auto;
  font-family: Raleway;
}

.posts-section {
  margin-top: -1.5rem;
}

.post {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
  min-height: 80px;
  width: 55vw;
  min-width: 45vh;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.postUsername {
  font-size: 15px;
  font-weight: 1000;
  margin: 0 4px;
  color: black;
}

.postDate {
  margin: 0 20px;
  font-size: 12px;
}

.post-rating {
  margin-left: 10px;
}

.postCenter {
  margin: 20px 10px;
  display: flex;
  flex-direction: row;
  max-height: 300%;
}

.bookCard {
  width: 500px;
  min-height: 100%;
}

.postText {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
}

.bookSummary {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  min-height: 80px;
  width: 135vw;
  min-width: 35vh;
}

.bookSummary h5 {
  padding-top: 1rem;
}

.WantToReadBtn {
  width: 200px;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}

.comments {
  padding-left: 10px;
}

.comment {
  display: flex;
  flex-direction: column;
  padding-top: 0.8rem;
}

.comment-text {
  padding-left: 45px;
}

.solid {
  border-top: 3px solid #bbb;
  border-left: -5rem;
  width: 50rem;
}

.addComment {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.comment-button {
  width: 100px;
  height: 20px;
}

.comment-button-section {
  padding-top: 0.1rem;
  padding-left: 2.5rem;
}

.add-comment-section {
  margin-bottom: 0.8rem;
}

.comment-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
