.signin-section {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("../../assets/pictures/loginBackground.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #e9e7e5;
  width: 30em;
  height: 35em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Raleway;
}

.icon {
  width: 4rem;
  height: 4rem;
}

.signup-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: first baseline;
}

.signup-link {
  padding-left: 2rem;
}

.input-error:hover {
  box-shadow: 0 0.01em 0.3em #ff0000;
}

.error-class {
  color: red;
  padding-right: 13rem;
  font-size: 1rem;
  margin-bottom: -2;
}

.invalid-error {
  color: red;
  padding-right: 8rem;
  font-size: 1rem;
  margin-bottom: -2;
}
