.signup {
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url("../../assets/pictures/loginBackground.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #e9e7e5;
  width: 30em;
  height: 40em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Raleway;
}

.box h6 {
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
}

.icon {
  width: 4rem;
  height: 4rem;
}
