.my-books {
  font-family: Raleway;
  padding-top: 80px;
  padding-bottom: 34rem;
  padding-left: 100px;
}

.my-list {
  font-size: 20px;
  margin-left: -25px;
  margin-right: 70px;
  color: black;
  width: 300px;
}

.title-section {
  width: 200px;
}

.my-collection-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collection-books-section {
  width: 1000px;
  margin-right: 100px;
  padding-left: 10px;
}

.book-card-section {
  min-width: 200px;
}

.collections-titles-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
